.board {
  background-color:rgb(0, 121, 191);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.board-menu-bar {
  height: auto;
  width: 100%;
  padding: 8px 4px 4px 8px;
}

.board-title {
  color: #fff;
  font-size: 18px;    
  background: transparent;
  resize: none;
  border: none;
  max-height: 40px;
  text-align: left;
  min-width: 100px;
  overflow: hidden;
}

.board-title:focus {
  background-color: #fff;
  color: black;
}

.board-content {
  flex-grow: 1;
}

.list-wrapper {
  width: 270px;
  height: 100%;
  margin-left: 10px;    
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list-wrapper.add-list {
  background-color: hsla(0,0%,100%,.24);
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  height: auto;
}

.list-wrapper.add-list.edit {
  background-color: #ebecf0;
}

.list-wrapper.add-list.edit > button.btn-toggle-add-list-form {
  display: none;
}

button.btn-toggle-add-list-form {
  border-radius: 3px;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  user-select: none;
  border: none;
  outline-style: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

form[name=add-list]  {
  display: none;
}

form[name=add-list] > button {
  display: inline-block;
}

.edit > form[name=add-list] {
  display: block;
}

form[name=add-list] > button.btn-submit-add-list {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
}

form[name=add-list] > .btn-toggle-add-list-form {
  color: grey;
  margin: 0;
  font-size: 20px;
}

form[name=add-list] .list-name-input {
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0 0 5px;
  width: 100%;
  color: #172b4d;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
}